@import "tailwindcss";

body {
  margin: 0;
  background: #f4ecf7;
  font-family: Arial, sans-serif;
}

.input {
  width: 100%;
  background: #f4ecf7;
  padding: 16px;
  border-radius: 16px;
  outline: none;
  font-weight: 700;
}
@keyframes promoSlide {
  0% {
    transform: translateX(0%);
  }
  45% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-promoSlide {
  animation: promoSlide 4s infinite;
}